<footer>
	<small>
		<a hred="http://railstutorial.org/">Rails Tutorial</a> by Michaerl
	</small>
	<nav>
		<ul>
			<li><%= link_to "Acerca de", 	acerca_path %></li>
			<li><%= link_to "Contacto", 	contacto_path %></li>
		</ul>
	</nav>
</footer>
