<% provide(:title, '') %>
<div class="center hero-unit">
	<h1>Bienvenido!</h1>
	<p>Estoy aprendiendo Ruby on Rails.</p>
	<%= link_to 'Registrate ahora!', '#', class: "btn btn-large btn-primary"%>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>
